.navbar {
	background-color: var(--bg-white);
	height: 90px;
	padding: 0 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1000;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.logoWrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 1001;
}

.logoImage {
	height: 75px;
	width: auto;
	object-fit: contain;
}

.navLinks {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.link {
	font-weight: 500;
	color: var(--text-dark);
	transition: color 0.3s ease;
	font-size: 1rem;
}

.link:hover {
	color: var(--primary-navy);
}

.ctaButton {
	background-color: var(--gold);
	color: white;
	padding: 0.6rem 1.5rem;
	border-radius: 50px;
	font-weight: 600;
	transition: background-color 0.3s ease;
}

.ctaButton:hover {
	background-color: #a16207;
}

/* hidden on desktop */
.hamburger {
	display: none;
	cursor: pointer;
	background: none;
	border: none;
	z-index: 1001;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 3px;
	background-color: var(--primary-navy);
}

/* Mobile Style */
@media (max-width: 768px) {
	.navbar {
		height: 70px;
		padding: 0 1.5rem;
	}

	.logoImage {
		height: 50px;
		width: auto;
		max-width: 120px;
	}

	.logoWrapper {
		height: 40px;
		display: flex;
		align-items: center;
	}

	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateX(-8px) rotate(45deg);
	}

	.navLinks {
		position: fixed;
		left: -100%;
		top: 0;
		flex-direction: column;
		background-color: var(--bg-white);
		width: 100%;
		height: 100vh;
		justify-content: center;
		text-align: center;
		transition: 0.3s ease-in-out;
		box-shadow: 0 10px 20px rgba (0, 0, 0, 0.1);
		padding-top: 60px;
	}

	.navLinks.active {
		left: 0;
	}

	.link {
		font-size: 1.5rem;
		margin: 1rem 0;
	}

	.ctaButton {
		margin-top: 1rem;
		width: 80%;
		text-align: center;
	}
}
